/* .breadcrumb {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.breadcrumb a {
    text-decoration: underline;
    color: inherit;

}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb span {
    margin: 0;
    padding: 0;
}

.breadcrumb span:not(:last-child)::after {
    content: ' » ';
    white-space: pre;
}
 */



#breadcrumbs {
    min-height: 40px; /* Adjust height as needed */
}

.breadcrumb {
    text-align: center;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    /* background-color: #eee; */
}
  
/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 24px;
}
  
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    /* content: "/\00a0"; */
    content: "»";
}
  
/* Add a color to all links inside the list */
ul.breadcrumb li a {
    /* color: #0275d8; */
    color: inherit;
    text-decoration: underline;
    font-size: 24px; /* Increased font size */
    font-weight: bold; /* Make text bold */
}
  
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: none;
}
